.masthead {
    position: relative;
    background-color: #343a40;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.masthead h1 {
    font-size: 2rem;
}
@media (min-width: 768px) {
    .masthead {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .masthead h1 {
        font-size: 3rem;
    }
}

img.img-product {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

img.img-photo {
    object-fit: cover;
    height: auto;
    aspect-ratio: 1/1;
}